

/*this makes the flex box function work in the webpage. NoWrap makes the items stay in one row*/
/* No wrap makes sure the items are in one row*/
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: lightgray;
  }
  


  .flex-container > div {
    display: flex;
  }

  /*This is to make the images have a black background and in a row */

  .flex-container > div > a > img {
    background-color: black;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
